p,
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
}

.bg-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../resources/background.svg);
}

.container {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
}

.title p {
    display: block;
}

.text {
    margin-top: 30px;
    font-size: 40px;
    line-height: 50px;
}


@media (max-width: 960px) {
    .container {
        width: 90%;
    }
    
    .title {
        column-gap: 30px;
        font-size: 75px;
        line-height: 75px;
    }

    .text {
        margin-top: 20px;
        font-size: 30px;
        line-height: 30px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    
    .title {
        column-gap: 20px;
        font-size: 40px;
        line-height: 40px;
    }
    
    .text {
        margin-top: 15px;
        font-size: 20px;
        line-height: 20px;
    }
}