body {
    background-color: #ccc;
}

h2 {
    margin-top: 30px;
    font-size: 50px;
    line-height: 55px;
}

p {
    font-size: 30px;
    line-height: 33px;
}

.container {
    width: 1400px;
    margin: 0 auto;
    padding: 50px 125px;
    background-color: lightblue;
}

.inner {
    width: auto;
    height: auto;
    display: block;
    background-color: orange;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    width: calc(50% - 10px);
    height: 200px;
    background-color: aquamarine;
    border: solid 1px green;
}

.box-xxl {
    width: 400px;
    height: 200px;
    background-color: aquamarine;
    border: solid 1px green;
}

.img-front {
    position: relative;
    display: block;
    border: solid 1px red;
}

.img-front img {
    width: 100%;
}

.img-back {
    position: relative;
    display: block;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    border: solid 1px red;
}

.img-txt {
    position: absolute;
    display: block;
    width: 60%;
    left: 40px;
    bottom: 40px;
    color: white;
}

@media (max-width: 960px) {
    body {
        font-size: 50%;
    }
    
    .container {
        width: 100%;
        padding: 0 16px;
    }

    .img-back {
        height: 400px;
    }
    
    .img-txt {
        left: 25px;
        bottom: 25px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 25%;
    }
    
    .container {
        width: 100%;
        padding: 0 12px;
    }
    
    .img-back {
        height: 304px;
    }
    
    .img-txt {
        width: 80%;
        left: 10px;
        bottom: 10px;
    }
}